@import './01-variables.less';

.header {
  position: relative;
  width: 100%;
  z-index: 10;

  &__top {
    background-color: #000;
    padding-top: 28px;
    padding-bottom: 34px;
  }

  &__container {
    position: relative;

    display: flex;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__logo {
    //height        : 40px;
    margin-right: 173px;
    vertical-align: middle;
  }

  &__logo-img {
    max-width: 173px;
  }

  &__navigate {
    margin-right: auto;
  }

  &__enter-btn {
    position: relative;
    //padding: 2px 6px 3px 8px;
    outline: none;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    transition: color @transition-effect;

    &::before {
      position: absolute;
      top: -4px;
      left: -7px;
      width: calc(100% + 14px);
      height: calc(100% + 10px);
      //border: @hover-border;
      background-color: @focus-bg;
    }

    &:hover,
    &:active {
      color: @hover-color;
    }

    &:focus::before {
      content: '';
    }

    &:hover .header__enter-icon,
    &:active .header__enter-icon {
      fill: @hover-color;
    }
  }

  &__enter-icon {
    position: relative;
    width: 13px;
    height: 13px;
    fill: #fff;
    transition: fill @transition-effect;
  }

  &__enter-text {
    position: relative;
  }

  &__bottom {
    position: absolute;
    width: 100%;
    // padding-top: 18px;
    // padding-bottom: 23px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__search {
    margin-left: auto;
  }
}

@media (max-width: @big-tablet-width) {
  .header {
    display: flex;
    background-color: #000;

    &__top {
      width: 50%;
      padding-top: 29px;
      padding-bottom: 29px;
    }

    &__container {
      justify-content: space-between;

      &_top {
        padding-right: 0;
        min-width: auto;
      }

      &_bottom {
        min-width: auto;
      }
    }

    &__burger {
      display: flex;
      margin-right: auto;
    }

    &__logo {
      margin-right: 0;
      transform: translateX(50%);
      height: 42px;
    }

    &__navigate {
      display: none;
    }

    &__enter-btn {
      display: none;
    }

    &__bottom {
      padding-top: 29px;
      padding-bottom: 29px;
      width: 50%;
      display: flex;
      align-items: center;
    }

    &__dropdown-nav {
      display: none;
    }

    &__search {
      margin-left: auto;
    }
  }
}

@media (max-width: @tablet-width) {
  .header {
  }
}

@media (max-width: @mobile-width) {
  .header {
    &__top,
    &__bottom {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &__logo {
      height: 22px;
    }

    &__search-btn {
      width: 16px;
      height: 16px;
    }
  }
}
