@import './01-variables.less';

.dropdown-nav {
  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    padding-top: 18px;
    padding-bottom: 23px;

    &:first-child {
      margin-right: 99px;
    }

    &:nth-child(2) {
      margin-right: 102px;
    }

    &:nth-child(3) {
      margin-right: 107px;
    }

    &:nth-child(4) {
      margin-right: 102px;
    }

    &:nth-child(5) {
      margin-right: 104px;
    }
  }

  &__btn {
    position: relative;

    display: flex;
    align-items: center;
    outline: none;

    font-size: 18px;
    line-height: 25px;
    color: #fff;
    transition: color @transition-effect;

    &::after {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(45deg);
      transition: border-color @transition-effect, transform @transition-effect;
    }

    &_active::after {
      transform: rotate(-135deg);
    }

    &:hover {
      color: @hover-color;

      &::after {
        border-color: @hover-color;
      }
    }

    &:active {
      outline: none;
      color: @active-color;

      &::after {
        border-color: @active-color;
      }
    }

    &:focus::before {
      content: '';
    }

    &::before {
      position: absolute;
      left: -6px;

      outline: @hover-border;
      width: calc(100% + 14px);
      height: 100%;
    }

    &_active::before {
      outline: none;
    }
  }

  &__content {
    position: absolute;
    top: 66px;

    display: none;
    max-height: 280px;
    min-width: 300px;
    padding: 40px 19px 40px 40px;

    overflow-y: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.4);
  }

  &__content-item {
    padding: 9px 14px 12px;
    max-width: 218px;
    margin-right: 19px;
    margin-left: 2px;
    cursor: pointer;
    transition: outline-color @transition-effect;
    background-repeat: no-repeat;
    background-size: cover;
    outline: 2px solid transparent;

    &:first-child {
      margin-top: 2px;
    }

    &:hover,
    &:focus {
      outline-color: @active-color;
    }

    &:active {
      outline: 2px solid #d1a9f0;
      background-color: rgba(194, 131, 243, 0.4);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &_bg {
      background-image: url('../img/dropdownBg.png');
    }
  }

  &__name {
    margin-right: 4px;
  }
}

.simplebar-scrollbar {
  width: 2px;
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  width: 1px;
  //height          : 28px;
  background-color: #9d5cd0;
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.simplebar-track.simplebar-vertical {
  width: 1px;
  height: 220px;
  margin-top: 40px;
  background-color: #000;
}

.simplebar-track {
  margin-right: 19px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
}
