.dropdown-nav {

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 100px;
  }

  &__link {
    display    : flex;
    align-items: center;

    font-size  : 18px;
    line-height: 25px;
    color      : #fff;

    &::after {
      content      : '';
      display      : inline-block;
      width        : 7px;
      height       : 7px;
      margin-left  : 4px;
      border-right : 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform    : rotate(45deg);
    }
  }
}