@import './01-variables.less';

.search {
  display: flex;
  align-items: center;

  &__btn {
    width: 22px;
    height: 22px;
    margin-right: 11px;

    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__input {
    width: 218px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    padding: 7px 0 4px 0;

    background-color: transparent;

    &::placeholder {
      font-size: 18px;
      line-height: 25px;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

@media (max-width: 1599px) {
  .search {
    &__btn {
      width: 29px;
      height: 29px;
      margin-right: 0;
    }

    &__input {
      display: none;
    }
  }
}

@media (max-width: @mobile-width) {
  .search {
    &__btn {
      width: 16px;
      height: 16px;
    }
  }
}
