@import './01-variables.less';

.catalog {
  &__top-box {
    display: flex;
  }

  &__subtitle {
    margin-right: 30px;
  }

  &__navs {
    display    : flex;
    align-items: center;
  }

  &__nav:not(:last-child) {
    margin-right: 50px;
  }

  &__nav {
    position: relative;
    top     : -4px;

    width : 46px;
    height: 46px;
  }

  &__nav-btn {
    position: relative;

    padding      : 0;
    width        : 100%;
    height       : 100%;
    border-radius: 50%;
    border       : 2px solid transparent;
    transition   : box-shadow @transition-effect, border-color @transition-effect;

    background-repeat: no-repeat;

    &::after {
      position     : absolute;
      left         : -11px;
      top          : -11px;
      width        : 66px;
      height       : 66px;
      border       : 2px solid #9d5cd0;
      border-radius: 50%;
      transition   : border-color @transition-effect;
    }

    &:hover {
      box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
    }

    &:active,
    &:focus {
      border-color: #9d5cd0;
      outline     : none;
    }

    &_active::after {
      content: '';
    }

    &_french {
      background-image   : url('../img/lang_sprites.png');
      background-position: -142px -10px;
    }

    &_dutch {
      background-image   : url('../img/lang_sprites.png');
      background-position: -78px -10px;
    }

    &_italian {
      background-image   : url('../img/lang_sprites.png');
      background-position: -10px -78px;
    }

    &_russian {
      background-image   : url('../img/lang_sprites.png');
      background-position: -10px -10px;
    }

    &_belgium {
      background-image   : url('../img/lang_sprites.png');
      background-position: -75px -78px;
    }
  }

  &__text {
    max-width    : 1080px;
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
  }

  &__left {
    width        : 50%;
    padding-right: 50px;
  }

  &__right {
    width: 50%;
  }

  &__accordion-item {
    border          : none;
    background-color: transparent;

  }

  &__accordion-button {
    position        : relative;
    outline         : none;
    border-top      : 1px solid #cacaca;
    border-bottom   : 1px solid #cacaca;
    padding         : 40px 0;
    font-weight     : 600;
    background-color: transparent;

    &::before {
      content : '';
      position: absolute;
      right   : 0;

      display      : block;
      width        : 50px;
      height       : 50px;
      border-radius: 50%;
      top          : 50%;
      transform    : translateY(-50%);

      background-color: #ececec;
    }

    &::after {
      width        : 12px;
      height       : 12px;
      margin-right : 18px;
      border-bottom: 1px solid #000;
      border-left  : 1px solid #000;
      transform    : rotate(-45deg);

      background-image: none;
    }

    &:not(.collapsed)::after {
      background-image: none;
      transform       : rotate(135deg);
    }

    &:focus {
      outline     : none;
      box-shadow  : none;
      border-color: #cacaca;
    }

    // &:after {
    //   position: absolute;
    //   top     : -7px;

    //   width : 100%;
    //   height: calc(100% + 14px);
    //   border: @hover-border;
    // }

    &:focus {
      border: @hover-border;
    }
  }

  &__accordion-collapse {
    border-bottom: 1px solid #9d5cd0;
    border-top   : 1px solid #9d5cd0;
  }

  &__accordion-list {
    padding     : 25px 0 38px;
    column-count: 3;
  }

  &__item-text {
    display      : inline-block;
    cursor       : pointer;
    border-bottom: 1px solid transparent;
    transition   : color @transition-effect, border-bottom @transition-effect;

    &:hover {
      .link-hover;
    }

    &:focus {
      .link-focus;
    }

    &:active {
      .link-active;
    }
  }
}

.accordion-button:not(.collapsed) {
  color           : inherit;
  background-color: transparent;
  box-shadow      : none;
}