
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff');
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff');
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff');
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 2em;
  word-wrap: break-word;
  letter-spacing: 0em;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  font-size: 1.125em;
  line-height: 1.5em;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  font: inherit;
}
.btn {
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main-btn {
  box-shadow: none;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  padding: 17px 35px;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}
.subtitle {
  margin-bottom: 15px;
  text-align: left;
  font-size: 3em;
  line-height: 65px;
}
.title {
  font-weight: bold;
  font-size: 4.5em;
  line-height: 84px;
}
input:hover,
input:focus,
input:active {
  outline: none;
}
.section {
  padding-top: 80px;
  padding-bottom: 71px;
}
@media (max-width: 1599px) {
  .container {
    padding: 0 37px 0 50px;
  }
  .btn {
    padding: 15px 41px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .title {
    font-size: 2em;
    line-height: 41px;
  }
  .subtitle {
    margin-bottom: 13px;
    font-size: 1.75em;
    line-height: 38px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header__top {
  background-color: #000;
  padding-top: 28px;
  padding-bottom: 30px;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__logo {
  margin-right: 173px;
  vertical-align: middle;
}
.header__logo-img {
  max-width: 173px;
}
.header__navigate {
  margin-right: auto;
}
.header__enter-btn {
  padding: 2px 5.5px 7px 8.5px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  transition: color 0.3s linear, border 0.3s linear;
}
.header__enter-btn:hover {
  color: #C283F3;
}
.header__enter-btn:focus {
  border: 2px solid #7943A4;
}
.header__enter-btn:active {
  color: #7943A4;
}
.header__btn-enter-icon {
  width: 13px;
  height: 13px;
}
.header__bottom {
  padding-top: 18px;
  padding-bottom: 23px;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__search {
  margin-left: auto;
}
@media (max-width: 1599px) {
  .header {
    display: flex;
    background-color: #000;
  }
  .header__top {
    width: 50%;
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__container_top {
    padding-right: 0;
    min-width: auto;
  }
  .header__container_bottom {
    min-width: auto;
  }
  .header__burger {
    display: flex;
    margin-right: auto;
  }
  .header__logo {
    margin-right: 0;
    transform: translateX(50%);
    height: 42px;
  }
  .header__navigate {
    display: none;
  }
  .header__enter-btn {
    display: none;
  }
  .header__bottom {
    padding-top: 29px;
    padding-bottom: 29px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .header__dropdown-nav {
    display: none;
  }
  .header__search {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .header__top,
  .header__bottom {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header__logo {
    height: 22px;
  }
  .header__search-btn {
    width: 16px;
    height: 16px;
  }
}

.navigate__list {
  display: flex;
}
.navigate__item:not(:last-child) {
  margin-right: 51px;
}
.navigate__link {
  padding: 2px 6px 8px 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition: color 0.3s linear, outline 0.3s linear;
  cursor: pointer;
  outline: none;
}
.navigate__link:hover {
  color: #C283F3;
}
.navigate__link:focus {
  border: none;
  outline: 2px solid #7943A4;
}
.navigate__link:active {
  color: #7943A4;
}

.dropdown-nav__list {
  display: flex;
}
.dropdown-nav__item:not(:last-child) {
  margin-right: 100px;
}
.dropdown-nav__btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.dropdown-nav__btn::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 4px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
}

.search {
  display: flex;
  align-items: center;
}
.search__btn {
  width: 22px;
  height: 22px;
  margin-right: 11px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.search__input {
  width: 218px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  padding: 7px 0 4px 0;
  background-color: transparent;
}
.search__input::-moz-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}
.search__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}
.search__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}
@media (max-width: 1599px) {
  .search__btn {
    width: 29px;
    height: 29px;
    margin-right: 0;
  }
  .search__input {
    display: none;
  }
}
@media (max-width: 767px) {
  .search__btn {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1599px) {
  .burger {
    display: flex;
    flex-direction: column;
    width: 36px;
    height: 28px;
  }
  .burger__elem {
    width: 100%;
    height: 3.65px;
    background: #FFFFFF;
  }
  .burger__elem:not(:last-child) {
    margin-bottom: 8.52px;
  }
  .burger__elem_middle {
    width: 28.2px;
  }
  .burger__elem_bottom {
    width: 24px;
  }
}
@media (max-width: 767px) {
  .burger {
    width: 20px;
    height: 15px;
  }
  .burger__elem {
    height: 1.96px;
  }
  .burger__elem:not(:last-child) {
    margin-bottom: 4.57px;
  }
  .burger__elem_middle {
    width: 15.67px;
  }
  .burger__elem_bottom {
    width: 13.33px;
  }
}

.hero {
  color: #fff;
  background-image: url('../img/hero-img-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
  padding-top: 238px;
}
.hero__title {
  margin-bottom: 20px;
  max-width: 597px;
  color: #fff;
}
.hero__desc {
  max-width: 597px;
  margin-bottom: 92px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.hero__btn {
  position: relative;
  margin-bottom: 122px;
  border: none;
  padding: 22.5px 39px;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.8px;
  background-color: #9d5cd0;
}
.hero__btn:hover {
  background-color: #9d5cd0;
}
.hero__btn::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 2px #fff;
  width: 312px;
  min-height: 100%;
  z-index: 10;
  border-radius: 100px;
}
.hero__btn:focus {
  outline: none;
  border: 2px solid #c283f3;
}
.hero__btn:focus::before {
  content: '';
}
.hero__btn:active {
  background: #7943a4;
  border: 3px solid #d1a9f0;
}
@media (max-width: 1599px) {
  .hero__container {
    padding-top: 212px;
  }
  .hero__title {
    margin-bottom: 10px;
  }
  .hero__desc {
    max-width: 660px;
    margin-bottom: 141px;
  }
  .hero__btn {
    margin-bottom: 113px;
  }
}
@media (max-width: 1023px) {
  .hero__desc {
    max-width: 660px;
    margin-bottom: 134px;
  }
}
@media (max-width: 767px) {
  .hero__container {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    text-align: center;
  }
  .hero__desc {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .hero__btn {
    margin-bottom: 45px;
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }
}

.about__desc {
  max-width: 1080px;
  font-size: 16px;
  letter-spacing: -0.3px;
}
@media (max-width: 1599px) {
  .about__desc {
    max-width: 100%;
  }
}
@media (max-width: 1599px) {
  .about__desc {
    letter-spacing: 0.2px;
  }
}
@media (max-width: 767px) {
  .about__container {
    padding-top: 49px;
  }
  .about__desc {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
}

.gallery {
  background-image: url('../img/gallery-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__container {
  display: flex;
}
.gallery__left-side {
  display: flex;
  flex-direction: column;
  max-width: 401px;
  margin-right: 50px;
}
.gallery__right-side {
  position: relative;
  width: calc(100% - 451px);
  overflow-x: hidden;
}
.gallery__subtitle {
  color: #fff;
}
.gallery__filter-title {
  margin-bottom: 10px;
  color: #fff;
}
.gallery__note {
  margin-top: auto;
  color: #fff;
}
.gallery__note_tablet {
  display: none;
}
.gallery__autorize {
  color: #9d5cd0;
}
.choices {
  width: 400px;
  font-family: inherit;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.01);
}
.choices.is-open {
  border-radius: 6px;
}
.choices[data-type*='select-one']:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  border: 1px solid #999;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}
.choices[data-type*='select-one'].is-open:after {
  top: 60%;
  border: 1px solid #999;
  border-width: 1px 1px 0 0;
}
.choices__inner {
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  border-color: #fff;
  border-width: 1px;
  z-index: 2;
  padding: 0 7.5px;
}
.is-open .choices__inner {
  border-radius: 6px;
}
.choices__placeholder {
  opacity: 1;
}
.choices__list--dropdown .choices__placeholder {
  display: none;
}
.choices__list--dropdown {
  background-color: transparent;
}
.choices__list--dropdown .choices__item--selectable {
  padding-right: 15px;
  background-color: transparent;
  border: 1px solid #999;
  color: #999;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}
.choices__list--dropdown.is-active {
  border-radius: 6px;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-color: #999;
}
.swiper-container {
  width: 100%;
  height: 100%;
  max-height: 830px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 50px) / 2);
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper-button-prev {
  position: absolute;
  top: 45px;
  width: 30px;
  height: 30px;
  background: #666;
  border-radius: 50%;
}
.swiper-button-prev::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(45deg);
}
.swiper-button-next {
  position: absolute;
  top: 45px;
  left: 100px;
  width: 30px;
  height: 30px;
  background: #666;
  border-radius: 50%;
}
.swiper-button-next::after {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(225deg);
}
.swiper-pagination {
  position: absolute;
  top: 22px;
  left: 45px;
  width: 50px;
  color: #fff;
}
@media (max-width: 1599px) {
  .swiper-container {
    max-height: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    overflow: hidden;
  }
  .swiper-slide {
    height: calc((100% - 34px) / 2);
    width: 280px;
  }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 650px;
  }
  .swiper-slide {
    width: 317px;
  }
  .gallery__container {
    position: relative;
    flex-direction: column;
  }
  .gallery__left-side,
  .gallery__right-side {
    width: 100%;
  }
  .gallery__right-side {
    margin-bottom: 30px;
  }
  .gallery__note {
    display: none;
  }
  .gallery__note_tablet {
    display: block;
  }
}
@media (max-width: 767px) {
  .choices {
    width: 290px;
    margin-bottom: 0;
  }
  .swiper-container {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 80px;
  }
  .swiper-button-prev {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 11px;
  }
  .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 11px;
  }
  .swiper-pagination {
    position: relative;
    top: 0;
    left: 0;
  }
  .gallery__left-side {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .gallery__controls {
    position: relative;
    top: 50px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
