
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
}
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 2em;
  word-wrap: break-word;
  letter-spacing: 0em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  font-size: 1.125em;
  line-height: 1.5em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  font: inherit;
}
.btn {
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.main-btn {
  box-shadow: none;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  padding: 17px 35px;
  font: inherit;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}
.subtitle {
  text-align: left;
  font-size: 3em;
  line-height: 65px;
}
.title {
  font-weight: 700;
  font-size: 4.5em;
  line-height: 84px;
}
input:hover,
input:focus,
input:active {
  outline: none;
}
.section {
  padding-top: 80px;
  padding-bottom: 71px;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
@media (max-width: 1599px) {
  .container {
    padding: 0 37px 0 50px;
  }
  .btn {
    padding: 15px 41px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
  .title {
    font-size: 2em;
    line-height: 41px;
  }
  .subtitle {
    margin-bottom: 13px;
    font-size: 1.75em;
    line-height: 38px;
  }
}

.header {
  position: relative;
  width: 100%;
  z-index: 10;
}
.header__top {
  background-color: #000;
  padding-top: 28px;
  padding-bottom: 34px;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__logo {
  margin-right: 173px;
  vertical-align: middle;
}
.header__logo-img {
  max-width: 173px;
}
.header__navigate {
  margin-right: auto;
}
.header__enter-btn {
  position: relative;
  outline: none;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  transition: color 0.3s linear;
}
.header__enter-btn::before {
  position: absolute;
  top: -4px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 10px);
  border: 2px solid #7943a4;
}
.header__enter-btn:hover,
.header__enter-btn:active {
  color: #c283f3;
}
.header__enter-btn:focus::before {
  content: '';
}
.header__enter-btn:hover .header__enter-icon,
.header__enter-btn:active .header__enter-icon {
  fill: #c283f3;
}
.header__enter-icon {
  width: 13px;
  height: 13px;
  fill: #fff;
  transition: fill 0.3s linear;
}
.header__bottom {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.header__search {
  margin-left: auto;
}
@media (max-width: 1599px) {
  .header {
    display: flex;
    background-color: #000;
  }
  .header__top {
    width: 50%;
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__container_top {
    padding-right: 0;
    min-width: auto;
  }
  .header__container_bottom {
    min-width: auto;
  }
  .header__burger {
    display: flex;
    margin-right: auto;
  }
  .header__logo {
    margin-right: 0;
    transform: translateX(50%);
    height: 42px;
  }
  .header__navigate {
    display: none;
  }
  .header__enter-btn {
    display: none;
  }
  .header__bottom {
    padding-top: 29px;
    padding-bottom: 29px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  .header__dropdown-nav {
    display: none;
  }
  .header__search {
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .header__top,
  .header__bottom {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header__logo {
    height: 22px;
  }
  .header__search-btn {
    width: 16px;
    height: 16px;
  }
}

.navigate__list {
  display: flex;
}
.navigate__item:not(:last-child) {
  margin-right: 51px;
}
.navigate__link {
  padding: 2px 6px 8px 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition: color 0.3s linear;
  outline: none;
}
.navigate__link:hover {
  color: #c283f3;
}
.navigate__link:focus {
  outline: 2px solid #7943a4;
}
.navigate__link:active {
  color: #7943a4;
}

.dropdown-nav__list {
  display: flex;
}
.dropdown-nav__item {
  position: relative;
  padding-top: 18px;
  padding-bottom: 23px;
}
.dropdown-nav__item:first-child {
  margin-right: 99px;
}
.dropdown-nav__item:nth-child(2) {
  margin-right: 102px;
}
.dropdown-nav__item:nth-child(3) {
  margin-right: 107px;
}
.dropdown-nav__item:nth-child(4) {
  margin-right: 102px;
}
.dropdown-nav__item:nth-child(5) {
  margin-right: 104px;
}
.dropdown-nav__btn {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  transition: color 0.3s linear;
}
.dropdown-nav__btn::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  transition: border-color 0.3s linear, transform 0.3s linear;
}
.dropdown-nav__btn_active::after {
  transform: rotate(-135deg);
}
.dropdown-nav__btn:hover {
  color: #c283f3;
}
.dropdown-nav__btn:hover::after {
  border-color: #c283f3;
}
.dropdown-nav__btn:active {
  outline: none;
  color: #7943a4;
}
.dropdown-nav__btn:active::after {
  border-color: #7943a4;
}
.dropdown-nav__btn:focus::before {
  content: '';
}
.dropdown-nav__btn::before {
  position: absolute;
  left: -6px;
  outline: 2px solid #7943a4;
  width: calc(100% + 14px);
  height: 100%;
}
.dropdown-nav__btn_active::before {
  outline: none;
}
.dropdown-nav__content {
  position: absolute;
  top: 66px;
  display: none;
  max-height: 280px;
  min-width: 300px;
  padding: 40px 19px 40px 40px;
  overflow-y: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}
.dropdown-nav__content-item {
  padding: 9px 14px 12px;
  max-width: 218px;
  margin-right: 19px;
  margin-left: 2px;
  cursor: pointer;
  transition: outline-color 0.3s linear;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 2px solid transparent;
}
.dropdown-nav__content-item:first-child {
  margin-top: 2px;
}
.dropdown-nav__content-item:hover,
.dropdown-nav__content-item:focus {
  outline-color: #7943a4;
}
.dropdown-nav__content-item:active {
  outline: 2px solid #d1a9f0;
  background-color: rgba(194, 131, 243, 0.4);
}
.dropdown-nav__content-item:not(:last-child) {
  margin-bottom: 20px;
}
.dropdown-nav__content-item_bg {
  background-image: url('../img/dropdownBg.png');
}
.dropdown-nav__name {
  margin-right: 4px;
}
.simplebar-scrollbar {
  width: 2px;
}
.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  width: 2px;
  background-color: #9d5cd0;
  opacity: 1;
}
.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}
.simplebar-track.simplebar-vertical {
  width: 2px;
  height: 220px;
  margin-top: 40px;
  background-color: #000;
}
.simplebar-track {
  margin-right: 19px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search:hover .search__icon {
  fill: #c283f3;
}
.search:hover .search__input {
  border-bottom: 1px solid #c283f3;
}
.search:active .search__icon {
  fill: #c283f3;
}
.search__btn {
  position: relative;
  top: -5px;
  left: 3px;
  width: 22px;
  height: 22px;
  margin-right: 0px;
  outline: none;
  border: none;
}
.search__btn::after {
  content: "";
  position: absolute;
  left: -8px;
  top: -8px;
  width: 38px;
  height: 38px;
}
.search__btn:focus::after {
  border: 2px solid #7943a4;
}
.search__icon {
  fill: #fff;
  width: 23px;
  height: 22px;
  transition: fill 0.3s linear;
  cursor: pointer;
}
.search__input {
  position: relative;
  bottom: 6px;
  width: 218px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  padding: 7px 0 4px 0;
  font-size: 18px;
  font-family: inherit;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.85);
  transition: border-bottom 0.3s linear;
  cursor: pointer;
  caret-color: #c283f3;
  background-color: transparent;
  z-index: 10;
}
.search__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.search__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}
.search__input-border {
  position: relative;
  padding: 4px 5px 4px 9px;
  width: 232px;
  height: calc(100% + 12px);
  border: 2px solid transparent;
}
.search__input-border::before {
  position: absolute;
  left: 5px;
  top: -2px;
  width: 100%;
  height: 100%;
  border: 2px solid #7943a4;
}
.search__input-border:focus-within::before {
  content: "";
}
@media (max-width: 1599px) {
  .search__btn {
    width: 29px;
    height: 29px;
    margin-right: 0;
  }
  .search__input {
    display: none;
  }
}
@media (max-width: 767px) {
  .search__btn {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1599px) {
  .burger {
    display: flex;
    flex-direction: column;
    width: 36px;
    height: 28px;
  }
  .burger__elem {
    width: 100%;
    height: 3.65px;
    background: #FFFFFF;
  }
  .burger__elem:not(:last-child) {
    margin-bottom: 8.52px;
  }
  .burger__elem_middle {
    width: 28.2px;
  }
  .burger__elem_bottom {
    width: 24px;
  }
}
@media (max-width: 767px) {
  .burger {
    width: 20px;
    height: 15px;
  }
  .burger__elem {
    height: 1.96px;
  }
  .burger__elem:not(:last-child) {
    margin-bottom: 4.57px;
  }
  .burger__elem_middle {
    width: 15.67px;
  }
  .burger__elem_bottom {
    width: 13.33px;
  }
}

.hero {
  color: #fff;
  background-image: url('../img/hero-img-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: scale 20s linear infinite alternate;
  animation: scale 20s linear infinite alternate;
  min-height: 700px;
}
.hero__container {
  padding-top: 137px;
}
.hero__title {
  margin-bottom: 20px;
  max-width: 597px;
  color: #fff;
}
.hero__desc {
  max-width: 597px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.hero__btn {
  position: relative;
  border: none;
  padding: 20px 33px;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  background-color: #9d5cd0;
  transition: background-color 0.3s linear, border 0.3s linear;
  border: 3px solid transparent;
  cursor: pointer;
}
.hero__btn::before {
  position: absolute;
  top: -7px;
  left: -7px;
  border: 2px solid #fff;
  width: calc(100% + 14px);
  min-height: calc(100% + 14px);
  z-index: 10;
  border-radius: 100px;
}
.hero__btn:focus {
  outline: none;
  border: 2px solid #c283f3;
}
.hero__btn:focus::before {
  content: '';
}
.hero__btn:active,
.hero__btn:hover {
  background: #7943a4;
  border: 3px solid #d1a9f0;
}
@media (max-width: 1599px) {
  .hero__container {
    padding-top: 212px;
  }
  .hero__title {
    margin-bottom: 10px;
  }
  .hero__desc {
    max-width: 660px;
    margin-bottom: 141px;
  }
  .hero__btn {
    margin-bottom: 113px;
  }
}
@media (max-width: 1023px) {
  .hero__desc {
    max-width: 660px;
    margin-bottom: 134px;
  }
}
@media (max-width: 767px) {
  .hero__container {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    text-align: center;
  }
  .hero__desc {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .hero__btn {
    margin-bottom: 45px;
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }
}
@-webkit-keyframes scale {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 115% 115%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes scale {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 115% 115%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.about__desc {
  max-width: 1080px;
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: -0.3px;
}
@media (max-width: 1599px) {
  .about__desc {
    max-width: 100%;
  }
}
@media (max-width: 1599px) {
  .about__desc {
    letter-spacing: 0.2px;
  }
}
@media (max-width: 767px) {
  .about__container {
    padding-top: 49px;
  }
  .about__desc {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
}

.gallery {
  padding-bottom: 82px;
  background-image: url("../img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__container {
  display: flex;
}
.gallery__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 401px;
  margin-right: 50px;
}
.gallery__right-side {
  position: relative;
  width: calc(100% - 451px);
  overflow-x: hidden;
}
.gallery__controls {
  position: absolute;
  top: 23px;
  left: 3px;
}
.gallery__subtitle {
  margin-bottom: 15px;
  color: #fff;
}
.gallery__filter-title {
  margin-bottom: 10px;
  color: #fff;
}
.gallery__note {
  position: relative;
  top: 13px;
  padding-right: 20px;
  color: #fff;
  letter-spacing: 0.5px;
}
.gallery__note_tablet {
  display: none;
}
.gallery__autorize {
  letter-spacing: 0.5px;
  color: #9d5cd0;
  font-size: 16px;
  outline: 2px solid transparent;
  transition: color 0.3s linear, border-bottom 0.3s linear;
}
.gallery__autorize:hover {
  color: #c283f3;
  border-bottom: 1px solid #9d5cd0;
}
.gallery__autorize:focus {
  outline: 2px solid #7943a4;
  transition: all 0.3s linear;
}
.gallery__autorize:active {
  color: #7943a4;
}
.choices {
  width: 400px;
  font-family: inherit;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.01);
}
.choices.is-open {
  border-radius: 6px;
}
.choices[data-type*="select-one"]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 40%;
  border: 1px solid #999;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}
.choices[data-type*="select-one"].is-open:after {
  top: 60%;
  border: 1px solid #999;
  border-width: 1px 1px 0 0;
}
.choices__inner {
  position: relative;
  border-radius: 6px;
  padding: 0 7.5px;
  min-height: 40px;
  background-color: transparent;
  z-index: 2;
}
.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}
.is-open .choices__inner {
  border-radius: 6px;
}
.choices__placeholder {
  opacity: 1;
}
.choices__list--single {
  padding: 0px 0px 4px 7px;
}
.choices__item {
  font-size: 16px;
  line-height: 32px;
  border-radius: 6px;
}
.choices__item.choices__item--choice.is-selected.choices__item--selectable {
  display: none;
}
.choices__list--dropdown {
  background-color: transparent;
  border: none;
}
.choices__list--dropdown .choices__item--selectable {
  padding-right: 15px;
  background-color: transparent;
  border: 1px solid #999;
  color: #999;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: transparent;
}
.choices__list--dropdown.is-active {
  border-radius: 6px;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-color: #999;
}
.choices__list--dropdown .choices__item--choice {
  min-height: 40px;
  padding: 0 17px;
  font-size: 16px;
  line-height: 32px;
}
@media (max-width: 1599px) {
  .swiper-container {
    max-height: 650px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    overflow: hidden;
  }
  .swiper-slide {
    height: calc((100% - 34px) / 2);
    width: 280px;
  }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 650px;
  }
  .swiper-slide {
    width: 317px;
  }
  .gallery__container {
    position: relative;
    flex-direction: column;
  }
  .gallery__left-side,
  .gallery__right-side {
    width: 100%;
  }
  .gallery__right-side {
    margin-bottom: 30px;
  }
  .gallery__note {
    display: none;
  }
  .gallery__note_tablet {
    display: block;
  }
}
@media (max-width: 767px) {
  .choices {
    width: 290px;
    margin-bottom: 0;
  }
  .swiper-container {
    max-height: 420px;
    padding-top: 0;
    padding-bottom: 80px;
  }
  .swiper-button-prev {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 11px;
  }
  .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 11px;
  }
  .swiper-pagination {
    position: relative;
    top: 0;
    left: 0;
  }
  .gallery__left-side {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .gallery__controls {
    position: relative;
    top: 50px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider-config {
  display: flex;
  justify-content: center;
}
.slider-config__btn {
  border: 2px solid transparent;
  transition: background-color 0.3s linear;
}
.slider-config__btn:hover {
  background-color: #c283f3;
}
.slider-config__btn:active {
  background-color: #7943a4;
}
.slider-config__btn:focus {
  border-color: #7943a4;
}
.swiper-container {
  width: 100%;
  height: 100%;
  max-height: 830px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
  height: calc((100% - 50px) / 2);
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  outline: none;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.swiper-slide:focus {
  border: 3px solid #7943a4;
}
.swiper-slide::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/slider-zoom.png");
  opacity: 0;
  transition: opacity 0.3s linear;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  transition: opacity 0.3s linear;
}
.swiper-slide:hover::before {
  opacity: 1;
}
.swiper-slide:active {
  border: 2px solid #d1a9f0;
}
.swiper-slide:active::before {
  opacity: 1;
}
.swiper-slide:active::after {
  opacity: 1;
}
.swiper-button-prev {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
  background: #666;
  border-radius: 50%;
}
.swiper-button-prev::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(45deg);
}
.swiper-button-next {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0;
  background: #666;
  border-radius: 50%;
}
.swiper-button-next::after {
  content: "";
  position: absolute;
  left: 9px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: rotate(225deg);
}
.swiper-pagination {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  margin: 0 20px 0 0;
  color: #fff;
}
.swiper-pagination-current {
  margin-right: 3px;
  padding-left: 9px;
}
.swiper-pagination-total {
  padding-left: 5px;
}
.swiper-pagination-fraction {
  width: auto;
}

.catalog__top-box {
  display: flex;
  margin-bottom: 15px;
}
.catalog__subtitle {
  margin-right: 39px;
}
.catalog__navs {
  display: flex;
  align-items: flex-end;
  border-bottom: none;
}
.catalog__nav:not(:last-child) {
  margin-right: 50px;
}
.catalog__nav {
  position: relative;
  top: -4px;
  width: 46px;
  height: 46px;
}
.catalog .catalog__nav-btn {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: box-shadow 0.3s linear, border-color 0.3s linear;
  background-repeat: no-repeat;
}
.catalog .catalog__nav-btn::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  border: 2px solid #9d5cd0;
  border-radius: 50%;
  transition: border-color 0.3s linear;
}
.catalog .catalog__nav-btn:hover {
  box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
}
.catalog .catalog__nav-btn:active,
.catalog .catalog__nav-btn:focus {
  border-color: #9d5cd0;
  outline: none;
}
.catalog .catalog__nav-btn_active::after {
  content: '';
}
.catalog .catalog__nav-btn_french {
  background-image: url('../img/lang_sprites.png');
  background-position: -144.5px -11px;
}
.catalog .catalog__nav-btn_dutch {
  background-image: url('../img/lang_sprites.png');
  background-position: -78px -13px;
}
.catalog .catalog__nav-btn_italian {
  background-image: url('../img/lang_sprites.png');
  background-position: -11px -78px;
}
.catalog .catalog__nav-btn_russian {
  background-image: url('../img/lang_sprites.png');
  background-position: -11px -10.5px;
}
.catalog .catalog__nav-btn_belgium {
  background-image: url('../img/lang_sprites.png');
  background-position: -77px -78.5px;
}
.catalog__text {
  max-width: 1080px;
  margin-bottom: 42px;
}
.catalog__content {
  display: flex;
}
.catalog__left {
  width: calc(50% - 50px);
  margin-right: 50px;
}
.catalog__right {
  width: 50%;
}
.catalog__accordion-item {
  border: none;
  background-color: transparent;
}
.catalog__accordion-button {
  position: relative;
  outline: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 39px 0;
  font-weight: 600;
  background-color: transparent;
  font-size: 24px;
  line-height: 32px;
  transition: outline 0.3s linear, color 0.3s linear;
}
.catalog__accordion-button:nth-of-type(2) {
  z-index: 5;
}
.catalog__accordion-button::before {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ececec;
  transition: background-color 0.3s linear;
}
.catalog__accordion-button::after {
  width: 12px;
  height: 12px;
  margin-right: 18px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  transform: rotate(-45deg);
  background-image: none;
  transition: border-color 0.3s linear;
}
.catalog__accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(135deg);
}
.catalog__accordion-button:hover {
  border-color: #9d5cd0;
  color: #9d5cd0;
}
.catalog__accordion-button:hover::before {
  background-color: #9d5cd0;
}
.catalog__accordion-button:hover::after {
  border-color: #fff;
}
.catalog__accordion-button:active {
  border-color: #7943a4;
  color: #7943a4;
}
.catalog__accordion-button:active::before {
  background-color: #7943a4;
  border: 2px solid #d1a9f0;
}
.catalog__accordion-button:active::after {
  border-color: #fff;
}
.catalog__accordion-button:focus {
  outline: 2px solid #7943a4;
  box-shadow: none;
}
.catalog__accordion-collapse {
  border-bottom: 1px solid #9d5cd0;
  border-top: 1px solid #9d5cd0;
}
.catalog__accordion-list {
  padding: 25px 0 29px;
  -moz-column-count: 3;
  column-count: 3;
}
.catalog__item-text {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid transparent;
  outline: 1px solid transparent;
  transition: color 0.3s linear, border-bottom 0.3s linear, outline 0.3s linear;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  line-height: 29px;
  background-color: transparent;
}
.catalog__item-text:hover {
  color: #c283f3;
  border-bottom: 1px solid #9d5cd0;
}
.catalog__item-text:focus {
  outline: 2px solid #7943a4;
  transition: all 0.3s linear;
}
.catalog__item-text:active {
  color: #7943a4;
}
.catalog__item-text_active {
  color: #7943a4;
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: transparent;
}
.accordion-button:focus:not(:focus-visible) {
  outline: 2px solid #7943a4;
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.person__img-box {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.person__img {
  -o-object-fit: contain;
  object-fit: contain;
}
.person__name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.person__date {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events {
  padding-bottom: 80px;
}
.events__swiper-container {
  margin-bottom: 50px;
}
.events__title {
  margin-bottom: 16px;
}
.events__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.events__item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 500px;
  min-height: 700px;
  background-color: #fff;
  border: 1px solid #cacaca;
}
.events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}
.events__item_hidden {
  margin-top: 50px;
  transition: all 0.3s linear;
}
.events__img-wrapper {
  width: 100%;
}
.events__img {
  width: 100%;
}
.events__btn {
  box-shadow: none;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  padding: 15px 33px;
  margin-left: 50%;
  transform: translateX(-50%);
  color: #9d5cd0;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.events__btn_hidden {
  display: none;
}
.swiper-slide {
  width: auto;
}

.card {
  padding: 13px 17px 42px 50px;
  border: none;
  border-radius: 0;
  height: 100%;
  text-align: left;
}
.card__info {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}
.card__title {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
}
.card__content {
  padding-right: 31px;
}
.card__link-box {
  margin-top: auto;
  display: flex;
}
.card__details {
  border-bottom: 1px solid #9D5CD0;
  color: #9D5CD0;
}
